:root {
  --font-family: 'Poppins', 'Segoe UI', sans-serif;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  
  /* Primary Colors */
  --white: #ffffff; /* White */
  --primary-bg-light: #f6faff; /* Alice Blue */
  --primary-bg-medium: #f0f8ff; /* Alice Blue */
  --primary-bg-dark: #e5e7ee; /* Alice Blue */
  --info-background: #02dfef; /* Robin Egg Blue */
  --secondary-bg: #3734a8; /* Cerulean Blue */

  
  /* Appointment Accent Colors */
  --appointment-selected: #3734a8; /* Cerulean Blue */
  --appointment-normal: lavender; /* Lavender */
  
  /* Calendar Colors */
  --calendar-selected: #3734a8; /* Cerulean Blue */
  --calendar-normal: powderblue; /* Powder Blue */

  /* Health Status Colors */
  --health-bone: #ff7e66; /* Burnt Sienna */
  --health-teeth: turquoise; /* Turquoise */
  --health-lungs: #b44e4e; /* Chestnut */
  --progress-bar: #e5e7ee;

    /* Color Palette */
  /* --outside-bg: aliceblue;
  --primary-bg-light: #f6faff;
  --primary-bg-medium: #f6faff;
  --primary-bg-dark: #e2ebf6;
  --white: #ffffff;
  --sidebar-bg: #eaf1fc;
  --card-bg: #ffffff;
  --highlight-blue: #4461f2;
  --highlight-green: #00c896;
  --highlight-red: #f25d5d;
  --highlight-orange: #f2a365;
  --gray-dark: #4d4d4d;
  --gray-light: #cfd8e4;
  --gray-mid: #97a5b5;
  --calendar-blue: #e5ebfd; */
  
  /* Shadows */
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.06);
  --shadow-card: 0 6px 20px rgba(0, 0, 0, 0.08);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
