@import url('./styles/variables.css');

.app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg-dark);
}

main{
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* justify-content: center; */
  /* padding: 2em; */
  background-color: var(--white);
}

@media screen and (max-width = 375px) {
  .app{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  main{
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .sidebar {
    width: 220px;
    flex-shrink: 0;
  }

  main {
    width: calc(100% - 220px);
  }
}


/* Laptop/Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  .app {
    flex-direction: row;
  }

  main {
    flex: 1;
  }
}
